
<!--<div class="jumbotron">
<img src="images/test-image.jpg" alt="a garden" width="700" height="700">
</div> -->
<div class="row">
  <div class="span12">
    <div id="ri-grid" class="ri-grid ri-grid-size-3 ri-shadow">
      <img class="ri-loading-image" src="images/loading.gif"/>
      <ul>
        <% @photos.each do |photo| %>
          <li>
            <% if @logged_in == true %>
            <a href="<%= '/profile/'+photo.user.user_name %>">
            <% else %>
            <a>
            <% end %>
              <img src="<%= photo.photo.url(:thumb) %>" alt="<%= photo.photo_file_name %>">
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>




