 <div class="masthead">
        <% if @logged_in == true %>
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/profile">Profile</a></li>
            <li><a href="/reset">Logout</a></li>
          </ul>
        <% else %>
          <ul class="nav nav-pills pull-right">
            <li class="active"><a href="/signin">Login</a></li>
            <li><a href="/signup">Signup</a></li>
          </ul>
        <% end %>
        <h3 class="muted"><%= @title %></h3>
        <% if @logged_in == true %>
          <h4 class="muted">Hi, <%= @name %></h4>
        <% end %>
      </div>
      <hr>
<!--       <div class="jumbotron">
        <img src="images/test-image.jpg" alt="a garden" width="700" height="700">
      </div> -->
      <hr>
      <div class="row">
        <div class="span12">
          <h4>Subheading</h4>
          <img src="images/test-image.jpg" alt="a garden" height="700">
        </div>

        <div class="span12">
          <h4>Subheading</h4>
          <img src="images/test-image.jpg" alt="a garden" height="700">
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Instagain 2013</p>
      </div>

    </div>