<form action='/signin' method='post' class="form-signin">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type='text' class="input-block-level" name='user_name' placeholder='User name'>
  <input type='password' class="input-block-level" name='password' placeholder='password'>
  <button class="btn btn-large btn-primary" type="submit">Login</button>
</form>
