
      <div class="row">
        <div class="span4">
            <form method="POST" action='/upload' enctype='multipart/form-data'>
                 <input type='file' name='photo'>
                  <hr>
                 <button class="btn btn-large btn-success" type="submit">Upload</button>
            </form>
          </div>
        </div>