body{
background-color: #FAFAFA;
}
#main {
    width:256px;
    height:256px;
}
.overlay {
  height:100px;
   width:100px;
   top:0;
   left:0;
}

.labelbottom{
  top: -20px;
  margin-bottom:-20px;
  width:100%;
}
.labelbottom > * {
display: inline-block;
width: 33%;
}

.labelbottom {
  visibility: hidden;
  opacity:0.8;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  background-color: #000
}

.medium-photo:hover .labelbottom {
    visibility: visible;
}


strong.name{
  text-align:left;

}
a.follow{
  text-align:center;

}
a.delete{
  text-align:center;
}
a.profile{
  text-align:right;

}


.medium-photo{
    opacity: .8;
    margin-bottom: 20px;
}

.other{
  /*width:45%;*/

}
.left{
  /*width:45%;*/
  float:left;
}
.right{
  /*width:45%;*/
  float:right;
  padding-right:25px;
}

.medium-photo > a {
  display: block;
  margin-bottom: -20px;
}



.text-delete
{
color: red;

}
.warning
{
display: none;
}

.others-feed{
  height:550px;
   overflow: scroll;

}
.my-feed{
  height:550px;
   overflow: scroll;

}


